.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tree-menu {
  line-height: 1em;
}

.tree-menu,
.tree-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tree-menu > li {
  margin-bottom: 0.5em;
}

.tree-menu ul {
  position: relative;
  margin-top: 0.5em;
  margin-left: 1em;
}
.tree-menu ul:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  border-left: 1px solid currentColor;
}

.tree-menu ul li {
  position: relative;
  margin: 0;
  padding: 0.5em 1em;
}

.tree-menu ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 1em;
  left: 0;
  width: 0.5em;
  height: 0;
  border-top: 1px solid currentColor;
}

.tree-menu ul li:last-child:before {
  top: 1em;
  bottom: 0;
  height: auto;
  background-color: #fff;
}


.mdl-data-table {
  width: 100%;
  white-space: normal;
}

.mdl-data-table th {
  border: 1px solid #CCC;
  text-align: left;
}

.mdl-data-table .th-center {
  border: 1px solid #CCC;
  text-align: center;
}

.mdl-data-table td {
  border: 1px solid #CCC;
  word-break: break-all;
  text-align: left;
}

mgnl100 {
  margin-left: 100px;
}